{%- import "../components/macro.njk" as macro with context -%}

{%- set items = [
  {
    imgDesc: modelName + '-grid1-desc.webp',
    imgMob: modelName + '-grid1-mob.webp',
    title: "Не оставляет следов на напольном покрытии"
  },
  {
    imgDesc: modelName + '-grid2-desc.webp',
    imgMob: modelName + '-grid2-mob.webp',
    title: "Несколько уровней регулировки высоты экрана"
  },
  {
    imgDesc: modelName + '-grid3-desc.webp',
    imgMob: modelName + '-grid3-mob.webp',
    title: "Удобная полка для размещения аксессуаров"
  },
  {
    imgDesc: modelName + '-grid4-desc.webp',
    imgMob: modelName + '-grid4-mob.webp',
    title: "Регулируемая по высоте полка для веб-камеры"
  },
  {
    imgDesc: modelName + '-grid5-desc.webp',
    imgMob: modelName + '-grid5-mob.webp',
    title: "Комфортное использование интерактивной панели"
  },
  {
    imgDesc: modelName + '-grid6-desc.webp',
    imgMob: modelName + '-grid6-mob.webp',
    title: "VESA 200x200 - 1000x600 мм"
  }
]-%}

{#- section.grid-layout
  each item in itemsGrid
    div(class='grid-layout__grid-item grid-item')
      +images(item.imgMob, item.imgDesc, 'full-img__img', item.title)
      h5.grid-item__title !{item.title} -#}

<section class="grid-layout">
  {%- for item in items -%}
    <div class="grid-layout__grid-item grid-item">
      {{ macro.image(item.imgDesc, item.imgMob, item.title, 'full-img__img') }}
      {#- {%- if item.title -%}
        <h5 class="grid-item__title">{{ item.title | safe }}</h5>
      {%- endif -%} -#}
    </div>
  {%- endfor -%}
</section>