{%- import "../components/macro.njk" as macro with context -%}

{%- set items = [
  {
    imgDesc: modelName + '-grid1-desc.jpg',
    imgMob: modelName + '-grid1-mob.jpg',
    title: "Two shelves for AV-equipment"
  },
  {
    imgDesc: modelName + '-grid2-desc.jpg',
    imgMob: modelName + '-grid2-mob.jpg',
    title: "High quality 3' rubber caster wheels"
  },
  {
    imgDesc: modelName + '-grid3-desc.jpg',
    imgMob: modelName + '-grid3-mob.jpg',
    title: "Built-in cable management"
  },
  {
    imgDesc: modelName + '-grid4-desc.jpg',
    imgMob: modelName + '-grid4-mob.jpg',
    title: "The kit includes all the necessary tools and clear instructions"
  },
  {
    imgDesc: modelName + '-grid5-desc.jpg',
    imgMob: modelName + '-grid5-mob.jpg',
    title: "Easy and fast assembly"
  },
  {
    imgDesc: modelName + '-grid6-desc.jpg',
    imgMob: modelName + '-grid6-mob.jpg',
    title: "Height adjustable columns"
  }
]-%}

{#- section.grid-layout
  each item in itemsGrid
    div(class='grid-layout__grid-item grid-item')
      +images(item.imgMob, item.imgDesc, 'full-img__img', item.title)
      h5.grid-item__title !{item.title} -#}

<section class="grid-layout">
  {%- for item in items -%}
    <div class="grid-layout__grid-item grid-item">
      {{ macro.image(item.imgDesc, item.imgMob, item.title, 'full-img__img') }}
      {#- {%- if item.title -%}
        <h5 class="grid-item__title">{{ item.title | safe }}</h5>
      {%- endif -%} -#}
    </div>
  {%- endfor -%}
</section>