
{%- set icons = [
  {
    img: 'vesa-icon.svg',
    title: 'VESA',
    desc: '300x100 - 800x500'
  },
  {
    img: 'load-icon.svg',
    title: 'Max load',
    desc: '200 lbs'
  },
  {
    img: 'height-icon.svg',
    title: 'Max TV weight',
    desc: '53.1" - 64.9"'
  },
   {
    img: 'portrait-icon.svg',
    title: 'Portrait mode',
    desc: '90°'
  },
  {
    img: 'diagonal-icon.svg',
    title: 'Diagonal',
    desc: '50"– 86"'
  }
] -%}

<ul class="layout-icons">
  {%- for icon in icons -%}
    <li class="layout-icons__item">
      <div class="item__img-wrapper">
        {%- if lang.ru -%}
          <img src="{{ links.ruIcons + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.us %}
          <img src="{{ links.us + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.uk %}
          <img src="{{ links.uk + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.it %}
          <img src="{{ links.it + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.es %}
          <img src="{{ links.es + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.de %}
          <img src="{{ links.de + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {% elif lang.pl %}
          <img src="{{ links.pl + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />  
        {%- else -%}
          <img src="{{ links.fr + icon.img }}" class="item__img" alt="{{ icon.title | safe | replace('<br>',' ') }}" />
        {%- endif -%}
      </div>

      <h3 class="item__title">{{ icon.title | safe }}</h3>
      <span class="item__desc">{{ icon.desc | safe }}</span> 
    </li>
  {%- endfor -%}
</ul>