{%- import "../components/macro.njk" as macro with context -%}

{%- set items = [
  {
    imgDesc: modelName + '-grid1-desc.jpg',
    imgMob: modelName + '-grid1-mob.jpg',
    title: "Fixation to wall"
  },
  {
    imgDesc: modelName + '-grid2-desc.jpg',
    imgMob: modelName + '-grid2-mob.jpg',
    title: "Screen Swivel"
  },
  {
    imgDesc: modelName + '-grid3-desc.jpg',
    imgMob: modelName + '-grid3-mob.jpg',
    title: "Cable Management Clips"
  },
  {
    imgDesc: modelName + '-grid4-desc.jpg',
    imgMob: modelName + '-grid4-mob.jpg',
    title: "3-step assembly"
  },
  {
    imgDesc: modelName + '-grid5-desc.jpg',
    imgMob: modelName + '-grid5-mob.jpg',
    title: "Universal VESA mount"
  },
  {
    imgDesc: modelName + '-grid6-desc.jpg',
    imgMob: modelName + '-grid6-mob.jpg',
    title: "Convenient design for your home or office"
  }
  
]-%}

{#- section.grid-layout
  each item in itemsGrid
    div(class='grid-layout__grid-item grid-item')
      +images(item.imgMob, item.imgDesc, 'full-img__img', item.title)
      h5.grid-item__title !{item.title} -#}

<section class="grid-layout">
  {%- for item in items -%}
    <div class="grid-layout__grid-item grid-item">
      {{ macro.image(item.imgDesc, item.imgMob, item.title, 'full-img__img') }}
      {#- {%- if item.title -%}
        <h5 class="grid-item__title">{{ item.title | safe }}</h5>
      {%- endif -%} -#}
    </div>
  {%- endfor -%}
</section>