{%- import "./components/macro.njk" as macro with context -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.min.css">
    <title>{{ modelName }}</title>
  </head>
  <body>
    <div class="main-content-container webobscure">
      <div id="content-layout">
        
        {%- include "./blocks/header.njk" -%} 

        <section class="full-img">
          {{ macro.image(modelName + '-block1-desc.jpg', modelName + '-block1-mob.jpg', "ONKRON", 'full-img__img') }}
        </section>
        <section class="full-img">
          {{ macro.image(modelName + '-block2-desc.jpg', modelName + '-block2-mob.jpg', "Maksymalne przekątne monitorów w zależności od ustawienia ekranów", 'full-img__img') }}
        </section>
         {#- {% include "./blocks/grid-layout.njk" %} -#}
        <section class="full-img">
          {{ macro.image(modelName + '-block3-desc.jpg', modelName + '-block3-mob.jpg', "Różne opcje montażu VESA", 'full-img__img') }}
        </section>
          
        <section class="full-img">
          {{ macro.image(modelName + '-block4-desc.jpg', modelName + '-block4-mob.jpg', "Wzmocniona konstrukcja", 'full-img__img') }}
        </section>
        
        <section class="full-img">
          {{ macro.image(modelName + '-block5-desc.jpg', modelName + '-block5-mob.jpg', "Szeroki zakres nachylenia", 'full-img__img') }}
        </section>
        <section class="full-img">
          {{ macro.image(modelName + '-block6-desc.jpg', modelName + '-block6-mob.jpg', "System zarządzania kablami", 'full-img__img') }}
        </section>
        
      <section class="full-img">
          {{ macro.image(modelName + '-block7-desc.jpg', modelName + '-block7-mob.jpg', "Montaż na stole lub za pomocą zacisku", 'full-img__img') }}
        </section>
    {#-
    <section class="full-img">
          {{ macro.image(modelName + '-block8-desc.jpg', modelName + '-block8-mob.jpg', "Zmieniaj wysokość   jednym przyciśnięciem", 'full-img__img') }}
        </section>
        <section class="full-img">
          {{ macro.image(modelName + '-block9-desc.jpg', modelName + '-block9-mob.jpg', "Oferta motorowanych stołów i stelaży ONKRON", 'full-img__img') }}
        </section>
        
         <section class="full-img">
          {{ macro.image(modelName + '-block10-desc.jpg', modelName + '-block10-mob.jpg', "Oferta motorowanych stołów i stelaży ONKRON", 'full-img__img') }}
        </section>
        -#}
      </div>
    </div>
  </body>
</html>