{%- import "./components/macro.njk" as macro with context -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.min.css">
    <title>{{ modelName }}</title>
  </head>
  <body>
    <div class="main-content-container webobscure">
      <div id="content-layout">
        
        {%- include "./blocks/header.njk" -%}

        <section class="full-img">
          {{ macro.image(modelName + '-block1-desc.webp', modelName + '-block1-mob.webp', "ONKRON", 'full-img__img') }}
        </section>

       {#- {% include "./blocks/grid-layout.njk" %} -#}

        <section class="full-img">
          {{ macro.image(modelName + '-block2-desc.webp', modelName + '-block2-mob.webp', "Различные варианты крепления VESA", 'full-img__img') }}
        </section>
        
        <section class="full-img">
          {{ macro.image(modelName + '-block3-desc.webp', modelName + '-block3-mob.webp', "Усиленная конструкция", 'full-img__img') }}
        </section>
    <section class="full-img">
          {{ macro.image(modelName + '-block4-desc.webp', modelName + '-block4-mob.webp', "Используйте два монитора одновременно", 'full-img__img') }}
        </section>
            <section class="full-img">
          {{ macro.image(modelName + '-block5-desc.webp', modelName + '-block5-mob.webp', "Широкие возможности наклона", 'full-img__img') }}
        </section>
            <section class="full-img">
          {{ macro.image(modelName + '-block6-desc.webp', modelName + '-block6-mob.webp', "Система организации проводов ", 'full-img__img') }}
        </section>
        <section class="full-img">
          {{ macro.image(modelName + '-block7-desc.webp', modelName + '-block7-mob.webp', "Установка в стол или на стол", 'full-img__img') }}
        </section>
        {#-
        
        <section class="full-img">
          {{ macro.image(modelName + '-block8-desc.webp', modelName + '-block8-mob.webp', "Сохраните 
до 3х настроек положения высоты", 'full-img__img') }}
        </section>
        
        <section class="full-img">
          {{ macro.image(modelName + '-block9-desc.webp', modelName + '-block9-mob.webp', "Линейка моторизованных
столов и подстольев ONKRON", 'full-img__img') }}
        </section>
        
        <section class="full-img">
          {{ macro.image(modelName + '-block10-desc.webp', modelName + '-block10-mob.webp', "Технологичное решение  для выставки или музея", 'full-img__img') }}
        </section>
         
        {#-
        <section class="full-img">
          {{ macro.image(modelName + '-block4-desc.webp', modelName + '-block4-mob.webp', "Практично для бизнеса", 'full-img__img') }}
          <div class="full-img__content-box content-box-block4 start bottom">
            <h4 class="content-box__title">Помощник<br>вашего<br>бизнеса</h4>
          </div> 
        </section>

        <section class="full-img">
          {{ macro.image(modelName + '-block5-desc.webp', modelName + '-block5-mob.webp', "Информативно для медучреждений", 'full-img__img') }}
          <div class="full-img__content-box content-box-block5 start bottom">
            <h4 class="content-box__title">Будьте<br>заметными</h4>
          </div> 
        </section>
       
        <section class="full-img">
          {{ macro.image(modelName + '-block6-desc.webp', modelName + '-block6-mob.webp', "Можно доверить самое ценное", 'full-img__img') }}
          <div class="full-img__content-box content-box-block6 start top">
            <h4 class="content-box__title">Можно<br>доверить<br>самое<br>ценное</h4>
          </div>
        </section>

        <section class="full-img">
          {{ macro.image(modelName + '-block7-desc.webp', modelName + '-block7-mob.webp', "Стойка мечты в паре кликов от вас!", 'full-img__img') }}
          <div class="full-img__content-box content-box-block7 end center-vertical">
            <h4 class="content-box__title">Стойка мечты<br>в паре кликов<br>от вас!</h4>
          </div>
        </section>
        
        {% include "./blocks/grid-layout.njk" %}

        {% include "./blocks/grid-layout6.njk" %}

        <section class="full-img">
          {{ macro.image(modelName + '-block1-desc.webp', modelName + '-block1-mob.webp', headerTitle, 'full-img__img') }}
          <div class="full-img__content-box content-box end center-vertical">
            <h4 class="content-box__title">Лучшее качество по доступной цене</h4>
            <ul class="content-box__list list">
              <li class="list__item">Пригодится для различных мероприятий: конференции, реклама, встречи, обучение</li>
              <li class="list__item">Удобные полки и система кабель-менеджмента помогают организовать пространство для любых ваших
                бизнес идей</li>
              <li class="list__item">Высококачественная сверхпрочная стальная конструкция с 5-летней гарантией для больших ТВ и
                интерактивных дисплеев</li>
            </ul>
          </div>
        </section>

        <section class="full-img">
          {{ macro.image(modelName + '-block2-desc.webp', modelName + '-block2-mob.webp', headerTitle, 'full-img__img') }}
        </section>
        -#}
      </div>
    </div>
  </body>
</html>